<doctype html="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>履歷自傳</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:blue; font-size:60px;}
		h2 {color:#33ff33; font-size:40px;}
		.col-lg-4 {border: 1px solid; color: orange;}
		.koenigsegg{color: whitesmoke;}
		.right{text-align: right; color: whitesmoke; font-size: 24px;}
		.left{text-align: left; color: white; font-size: 24px;}
		.picture{object-fit: cover;}
		.table{text-align: center;}
	</style>


</head>

<body >
	<nav class="navbar navbar-expand-md bg-warning navbar-dark">
		<a class="navbar-brand" href="#">Job Introduced</a>
					
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="#audio">履歷</a></li>
				<li class="nav-item"><a class="nav-link" href="#youtube">自傳</a></li>
				<li class="nav-item"><a class="nav-link" href="web.html">首頁</a></li>
			</ul>
		</div>
	</nav>

	<main class="container-fluid bg-dark text-dark text-center">
		<div class="row">

			<section class="col-lg-4">
				<h3 id="audio">履歷</h3>
				<table class = "container-fluid bg-dark text-dark text-center">
					<tr>
						<td>
							<h6 class="right">姓名</h6>
						</td>

						<td>
							<h6 class="left">文宏勝(Hong-Sheng Wem)</h6> >
						</td>
					</tr>

					<tr>
						<td>
							<h6 class="right">個人簡介</h6>
						</td>

						<td>
							<h6 class="left">性別：男</h6> >
							<h6 class="left">生日：2003年12月13日</h6>
							<h6 class="left">年齡：19</h6>
						</td>
					</tr>

					<tr>
						<td>
							<h6 class="right">學過的技能</h6>
						</td>

						<td>
							<h6 class="left">程式：Java、Python</h6> 
							<h6 class="left">網頁設計：HTML</h6> 
						</td>
					</tr>

					<tr>
						<td>
							<h6 class="right">聯繫資訊</h6>
						</td>

						<td>
							<h6 class="left">地址：420台中市豐原區南陽路59巷100弄29-9號</h6>
							<h6 class="left">電話：(886)0966683445</h6>
							<h6 class="left">GMAIL：love538216@gmail.com</h6>
						</td>
					</tr>

				</table>
			</section>

			<section class="col-lg-4">
				<h3 id="youtube">我的自傳</h3>
				<div >
					<h6 class="koenigsegg">學習了許多關於管理的知識，在未來還能夠考取ERP的執照來增加自己的履歷，也希望在未來還能增加程式相關的執照來為自己的未來增加一些經驗。當初要參加科展時非常的緊張，雖然表達得不是很完美但還是有學習到演
講的相關經驗，希望在未來還能夠參加更多的比賽，為自己累積更多的經驗。</h6>
				</div>
			</section>
		</div>
	</main>
	<footer class="table">
		Copyright ©  Hong-Sheng Wem. All Rights Reserved.
	</footer>
</body>
</html>